.contact {
	color:lightblue;
}
.education {
	color:dodgerblue;
}
.workExperience {
	color:aqua;
}

.skills {
	color:red;
}

body {
background-color:gray;
}

p {
	font-size:11px;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
a {
	color:red;
}





td {
	border: 5px solid black;
	width: 100px;
	height: 100px;
	font-size: 80px;
	text-align: center;
	font-family: sans;
}

#turn {
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	font-size: 16pt;
	background-color: #777777;
	width: 340px;
}

td:nth-child(1) {
	border-left: none;
}

td:nth-child(3) {
	border-right: none;
}

tr:nth-child(1) > td {
	border-top: none;
}

tr:nth-child(3) > td {
	border-bottom: none;
}
	